@font-face{
    src: url("fonts/Comfortaa-Regular.ttf");
    font-family: "comf";
}

*{
    font-family: "comf";
}

body{
    background-image: url(yea.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.all{
    display: flex;
    height: 30%;
    color: white;
}

.logo{
    width: 100px;
    float: left;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.top{
    width: 33%;
    text-align: center;
}

.name{
    font-size: 80px;
    font-family: "comf";
    font-style: italic;
    color: white;
}

.middle{
    background-color: #f7f7f7;
    height: 470px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px black;
    display: block;
}

footer{
    color: white;
    text-align: center;

}


.right{
    /*border:solid 1px;*/
    height: 365px;
    width: 97%;
    margin: 20px;
    box-shadow: 0 0 10px black;
}

label{
    margin-top: 10px;
    background: silver;
    font-size: 30px;
}


.index{
    text-align: center;
    justify-content: center;
    display: block;
    align-items: center;
}

.bottom{
    border: solid 1px;
    margin: 20px;
    background-color: yellowgreen;
    text-align: center;
    font-size: 20px;
}

.hu{
    text-align: center;
    font-size: 20px;
}
